html,
body {
  font-family: system-ui, Arial, sans-serif, Menlo, 'Bitstream Vera Sans Mono',
    'Ubuntu Mono', Consolas, 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
}


.content {
  img {
    max-height: 100vh;
    max-width: 100vw;
  }
}

.wrp {
  height: 100vh;
  width: 100vw;
}

.test-container {
  max-width: 90%;
  height: 300px;
  border: 1px red solid;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  overflow-x: auto;
}

.test-item {
  flex-basis: 400px;
  width: 400px;
  min-width: 400px;
  height: 40px;
  border: 1px darkblue solid;
  margin: 0 5px;
  padding: .25rem;
}

